<%include ../../../core/front/templates.navbar.ejs%>


<!DOCTYPE html>
<html lang="en">

<%- include ../../../core/front/commun-front/head.ejs %>


<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

<div id="sb-site">
    <div class="boxed">


        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Product</h1>

                <ol class="breadcrumb pull-right">
                    <li><a href="#">E-commerce</a></li>
                    <li class="active">Product</li>
                </ol>
            </div>
        </header>

        <div class="container">
            <h2 class="section-title no-margin-top"> <% if (product.name) { %>

                <%= product.name %>

                    <% } %></h2>
            <div class="row">
                <div class="col-md-4">

                    <ul class="bxslider">
                        <% if (product.idProduct){ %>
                        <li><img src="/images/product/<%= product.idProduct %>/1.png"  style="width: 437px; height: 437px;"/></li>
                        <% } %>

                        <li><img src="/images/ymple/product-example.png" style="width: 437px; height: 437px;"/></li>

                    </ul>

                    <div id="bx-pager">
                        <a data-slide-index="0" href=""><img src="/images/product/<%= product.idProduct %>/1.png" style="width: 50px; height: 50px;" /></a>

                        <a data-slide-index="4" href=""><img src="/images/ymple/product-example.png" style="width: 50px;"/></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3 class="no-margin-top">Description</h3>
                    <p>
                        <%if (product.description){ %> <%= product.description %> <%}%>
                    </p>
                    <h4>Specifications</h4>
                    <ul class="unstyled">
                        <li><%if (product.specification){ %> <%= product.specification %> <%}%></li>

                    </ul>

                </div>
                <div class="col-md-3">
                    <div class="e-price"> <% if (product.price) { %> <%= sails.config.project.currency.symbol %> <span> <%= product.price | 'currency' %></span><% } %></div>

                    <% if ( product.idProduct) { %>
                          
                    <button data-id="<%= product.idProduct %>" data-role="add"
                            class="btn btn-ar btn-block btn-success"> <i class="fa fa-shopping-cart"></i> <%= __('Add to Cart') %></button>


                    <button data-id="<%= product.idProduct %>" data-role="buy"
                            class="btn btn-ar btn-block btn-primary"> <i class="fa fa-shopping-cart"></i> <%= __('Purchase') %></button>
                    <% } %>


                    <h3 class="right-line">Related Products</h3>
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#">-</a></div>
                        <a href="#"><img src="/images/ymple/product-example.png" alt="" style="width:324px; "></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary">$ 0.00</span>
                            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>








                    </div>
                </div>
            </div>
        </div>


    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio_topbar.html">Portfolio</a></li>
        <li><a href="page_about3.html">About us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="page_contact.html">Contact</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
        <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
        <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
        <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
        <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/holder.js"></script>
<script src="/js/buttons.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/circles.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.matchHeight-min.js"></script>
-->

<script src="/js/vendors-ymple.js"></script>

<script src="/js/styleswitcher-ymple.js"></script>

<!-- Syntaxhighlighter -->
<script src="/js/syntaxhighlighter/shCore.js"></script>
<script src="/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="/js/app-ymple.js"></script>
<script src="/js/e-commerce_product.js"></script>

</body>

</html>

<%- include ../../../core/front/commun-front/library.ejs %>

<style>
    .preview {
        width: 100%;
        cursor: hand;
    }
</style>

<script>

</script>


<%- include ../../../core/front/product/javascript.ejs %>